<div class="row text-center py-5">
  {{#each data}}
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <img
        src="{{imagepath}}"
        alt="{{name}}"
        onmouseenter="setActiveImage(this,`{{imagepath}}`, true)"
        onmouseleave="setActiveImage(this,`{{imagepath}}`,  false)"
      />
      <h3>{{name}}</h3>
      <p>
        {{summary}}
      </p>
      <a href="?req=products/{{id}}" class="readmore btn btn-link pt-0">Read
        more</a>
    </div>
  {{/each}}
</div>